/* Colores Letras Falso Logo */
.txt-y {
    color: rgb(250, 250, 173);
}
.txt-g {
    color: rgb(147, 235, 147);
}
.txt-b {
    color: rgb(93, 201, 236);
}
.txt-m {
    color: rgb(171, 130, 238);
}
.txt-r {
    color: rgb(250, 98, 51);
}